

<div class="card-body">

    <div class="container">

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-dark mb-2" data-toggle="modal" data-target="#myModal">
          Add News
        </button>
      
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
            
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]='myform' (ngSubmit)="submitdata()">
                  
                    <div class="container-fluid" style="width:700px">
                  <label for="">News Heading *</label>
                  <input type="text " class="form-control" formControlName='hed'>

                <label for="">Enter description *</label>
               
               
               
              <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName='des'></textarea>
                <label>Image1</label>
                <input type="file" class="form-control" multiple   name="img1" ngModel  formControlName='file'  (change)="onfileupload1($event)">
      
               <!-- <label>Image2</label>
                <input type="file" class="form-control" multiple   name="img2" ngModel  formControlName='file1'  (change)="onfileupload2($event)"> 
       -->
              
              </div>
       


                                        <div class="container-fluid" style="width:700px">
                                        <button class="btn btn-secondary mt-3">Submit</button>
                                        </div>
              </form>
            
           
        
              
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Heading</th>
        <th>Description</th>
        <th>Image</th>
        <th>Update</th>
        <th>Delete</th>
        
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data">
          <td>
{{d.hed}}
          </td>
          <td>
            {{d.des}}
                      </td>
                     
                                  <td>
                             <img src="../../../server/images/{{d.img}}" alt="">       
                                              </td>
                      <td>
                        <button class="btn btn-primary" (click)=edit(d.id)  data-toggle="modal" data-target="#myModal1">Edit</button>
                                  </td>
                                  <td>
                                    <button class="btn btn-danger" (click)=delete(d.id) >Delete</button>
                                              </td>
        </tr>
      </tbody>
    
    </table>


    <div class="container">

        <!-- Button to Open the Modal -->
        
      
        <!-- The Modal -->
        <div class="modal fade" id="myModal1">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
            
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]='myform' *ngFor="let d of edata">
                  
                    <div class="container-fluid" style="width:700px">
                  <label for="">News Heading *</label>
                  <input type="text " class="form-control" formControlName='hed' [(ngModel)]="d.hed" >

                <label for="">Enter description *</label>
               
               
               
              <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName='des'  [(ngModel)]="d.des"></textarea>
                <label>Image</label>
                <input type="file" class="form-control" multiple   name="img1" ngModel  formControlName='file'  (change)="onfileupload1($event)">
      
               <!-- <label>Image2</label>
                <input type="file" class="form-control" multiple   name="img2" ngModel  formControlName='file1'  (change)="onfileupload2($event)"> 
       -->
              
              </div>
            

                                        <div class="container-fluid" style="width:700px">
                                        <button class="btn btn-primary mt-3" (click)="update(d.id)">Update</button>
                                        </div>
              </form>
            
           
        
              
              </div>
            </div>
          </div>
        </div>
        
      </div>
  


 
    </div>