<div class="card-body">
  <div style="display: flex;">
    <button class="btn btn-dark mb-1 " data-toggle="modal" data-target="#myModal1">Add Service</button>
  </div>
     <table id="example2" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>service</th>
        <th>Parent Category</th>
        <th>Description</th>
        <th style="width:20%">Image</th>
        <th>Edit</th>
        <th>Delete</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of data; let i = index">
        <td>{{i+1}}</td>
        <td>
           {{d.name}}
        </td>
        <td>
            {{d.parent_service}}
         </td>
         <td>
            {{d.des}}
         </td>
         <td>
            <img src="../../imgs/{{d.img}}" height="250px" width="100%" />
          </td>
          <td>
         <button class="btn btn-primary" (click)="edit(d.id)"  data-toggle="modal" data-target="#myModal">Edit</button>
         </td>
         <td>
          <button class="btn btn-danger" (click)="delete(d.id)">Delete</button>
          </td>
             </tr>
      
      </tbody>
     
    </table> 
  </div>

 




    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
  
          </div>
          <div class="modal-body">
              <form [formGroup]='myform' (ngSubmit)="CallPostApi()" >
                  <!-- (ngSubmit)="CallEditApi()" -->
                   
               <div class="form-group container-fluid">
                <label for="name">Service:</label>
               
                <input type="text" class="form-control"  placeholder="Enter Sub Service Category" name="name" ngModel  formControlName='hed' >
              
             </div>
                 <div class="form-group container-fluid">
                  <label for="name">Parent :</label>
                 <select name="servce" id="" formControlName="servce" class="form-control" >
                  <option  value="" selected>Select Service</option>
                 <option *ngFor="let d of data" [value]="d.name">{{d.name}}</option>
              </select>
               </div>
             
               <div class="form-group container-fluid">
                  <label for="name">Description:</label>
                  <angular-editor id="editor1"   style="height:500px" formControlName='des'></angular-editor>
  
                
               </div>
                 
                  
                  
               <div class="form-group container-fluid">
                  <label for="name">Image:</label>
                 
                  <input type="file" class="form-control" multiple   name="img1" ngModel  formControlName='file'  (change)="onfileupload($event)">
                  <img [src]="imageURL" alt="this is image" height="200px" width="180px">
               </div>          
                 
        
            
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
          </div>
        
        </div>
      </div> 


      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
    
            </div>
            <div class="modal-body" >
                <form [formGroup]='myform' >
                    <!-- (ngSubmit)="CallEditApi()" -->
                     
                 <div class="form-group container-fluid">
                  <label for="name">Service:</label>
                 
                  <input type="text" class="form-control"  placeholder="Enter Sub Service Category" name="name"  formControlName='hed' >
                
               </div>
                   <div class="form-group container-fluid">
                    <label for="name">Parent :</label>
                   <select name="servce" id="" formControlName="servce" ngModel class="form-control"  >
                    <option  value="" selected>Select Service</option>
                   <option *ngFor="let d of data" [value]="d.name" >{{d.name}}</option>
                </select>
                 </div>
               
                 <div class="form-group container-fluid">
                    <label for="name">Description:</label>
                    <angular-editor id="editor1"   style="height:500px" formControlName='des'  ></angular-editor>
    
                  
                 </div>
                   
                    
                    
                 <div class="form-group container-fluid">
                    <label for="name">Image:</label>
                   
                    <input type="file" class="form-control" multiple   name="img1" ngModel  formControlName='file'  (change)="onfileupload($event)"  >
                    <img [src]="imageURL" alt="this is image" height="200px" width="180px">

                 </div>          
                   
              
                    <button type="submit" class="btn btn-primary" (click)="update()">Update</button>
                  </form>
                </div>
            </div>
          
          </div>
        </div> 