.des
{
    margin-top: -30px;
}
.des a{
    color:Black
}
.des h3{
    color: rgb(136, 134, 134);
}
.des p{
    color: rgb(136, 134, 134);
}
.ser
{
    margin-top: -550px;
}
.serr
{
    margin-top: -50px;
}